@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root{
    --primary-color:hsla(335, 73%, 16%, 1);
    --secondary-color:rgb(38, 10, 77);
}

/* START HEADER SECTION */
body{
    font-family:'Source Sans Pro', sans-serif;
}

/* Start Back To Top */
.btn-backtops{
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    border-radius: 10px;

    position: absolute;
    right: 10px;
    bottom: 10px;

    z-index: 100;
}
/* End Back To TOp */
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url('../assets/img/banner/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}

.navbar{
    background: linear-gradient(rgba(0,0,0,0.3),var(--secondary-color));
    padding: 20px 30px;
}

.navmenus{
    background: linear-gradient(rgba(0,0,0,0.3),var(--secondary-color));
    padding: 5px 30px;
    transition: all 0.7s;
}

.menuitems{
    color: #fff;
    font-size: 17px;
    letter-spacing: 2px;
}

.menuitems:hover{
    color: aqua;
}
.lines1,.lines2,.lines3{
     width: 25px;
     height: 3px;
     margin: 6px;

     transition: all 0.3s;
}

.crossx .lines1{
    transform: rotate(-45deg) translate(-6px,6px);
}

.crossx .lines2{
    opacity: 0;
}

.crossx .lines3{
    transform: rotate(45deg) translate(-6px,-6px);
}

/* Start Banner Section */
.banners{
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.bannerheaders{
   animation: myani 2s;
}

.bannerparagraphs{
   animation: myani 2s;
   animation-delay: 1s;
   animation-fill-mode: backwards;
}

@keyframes myani{
    0%{
       transform: translateX(-100px);
       opacity: 0;
    }

    100%{
      transform: translateX(0);
      opacity: 1;
    }
}
/* End Banner Section */
/* END HEADER SECTION */

/* START ABOUTUS SECTION */
.aboutuss{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url('../assets/img/banner/banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}
.aboutuss h5{
    background-color: #fff;
    color: #333;
    border-left: 5px solid red;
    padding: 10px;
    
}

.aboutuss .lines{
    width: 30%;
    height: 1px;
    background-color: #fff;
    margin: 5px 0;
}

.aboutuss .lines:nth-of-type(2){
    width: 20%;
    height: 0.8px;
}

.aboutuss .lines:nth-of-type(3){
    width: 10%;
    height: 0.7px;
}

.aboutuss img{
    position: absolute;
    bottom: 0;
}
/* END ABOUTUS SECTION */

/* START PROPERTIES SECTION */
.titles{
   position: relative;
   display: inline-block;
   padding: 5px 20px;
}


.titles::before,
.titles::after{
    content: '';
    width: 20px;
    height: 20px;
    /* background-color: green; */

    position: absolute;
}

.titles::before{
    left: 0;
    bottom: 0;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
}

.titles::after{
    right: 0;
    top: 0;
    border-right: 3px solid #000;
    border-top: 3px solid #000;
}

.propertylists{
    cursor: pointer;
    color: #777;
}


.activeitems{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
}
/* END PROPERTIES SECTION */

/* Start Adv Section */
.missions{
    background-color: var(--secondary-color);
}

.fromlefts{
   animation: fromleftani 3s;
}

.fromrights{
   animation: fromrightani 3s;
}

@keyframes fromleftani{
    0%{
      transform: translateX(-100px);
      opacity: 0;
    }

    100%{
      transform: translateX(0px);
      opacity: 1;
    }
}

@keyframes fromrightani{
    0%{
      transform: translateX(100px);
      opacity: 0;
    }

    100%{
      transform: translateX(0px);
      opacity: 1;
    }
}
/* End Adv Section */

/* Start Services */
/*Start Our Services Section*/
.services{
    background:linear-gradient(
        200deg,
        var(--primary-color),
        var(--secondary-color)
    );
   }
  
  .servicecards{
    position:relative;
  
    white-space: pre-wrap;
  
    overflow:hidden;
    
   }
  
   .servicecards::before{
    content:"You may need our services ? \A Try and upgrade your living environment.\A \f004 \f004  \f004";
    font-family: "Font Awesome 6 Free";
    font-size: 14px;
    width: 100%;
    height: 100%;
  
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    line-height: 3;
  
    position: absolute;
    left: 0;
    top: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 1;
  }

  .servicecards:hover::before{
    content: '';
    background-color: rgba(0,0,0,0.1);
  }

  .servicecards img{
    transition: transform 0.5s;
  }

  .servicecards:hover img{
    transform: scale(1.1);
  }
  

.servicetexts{
    width: 40%;
    background: rgba(0,0,0,0.5);
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.7;

    position: absolute;
    right: 0;
    top: 80%;
}
/* End Services */

/* Start Clients Section */
ul.clientlists{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
}

ul.clientlists li{
    background-color: #f4f4f4;
    border: 5px solid #e9e9e9;
    padding: 20px 30px;
    margin: auto;
}

ul.clientlists img{
    width: 100px;
}

ul.clientlists li:hover{
    border-color: var(--secondary-color);
    box-shadow: 3px -5px 0 rgba(0,0,0,0.3);
}

@media(max-width: 760px){
    ul.clientlists li{
        background-color: #f4f4f4;
        border: 2px solid #e9e9e9;
        padding: 10px 20px;
        margin: auto;
    }
    
    ul.clientlists img{
        width: 70px;
    }
    
    ul.clientlists li:hover{
        border-color: var(--secondary-color);
        box-shadow: 1px -3px 0 rgba(0,0,0,0.3);
    }
}
/* End Clients Section */

/* Start Customers Section */
.customers{
    background-image: linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,1)
    ),url('../assets/img/banner/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
};
/* End Customers Section */

/* Start Request Quote */
.qutoes{
    background-color: var(--secondary-color);
    padding: 30px 50px;
    margin: -30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qutoes .infos{
    display: flex;
}

.qutoes .btn-calls{
    width: 170px;
    height: 50px;
    background-color: var(--primary-color);
    font-family: sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 50px;
    border: 0;
    border-radius: 100px;
    padding: 0;  /*cuz of bootstrap btn effect */
    transform: translateY(-1px);

    transition: all  0.3s;
}

.qutoes .btn-calls:hover{
    box-shadow: -3px 3px 3px #444;
    transform: translateY(0px);
}

.phoneicon{
    width: 30px;
}

@media(max-width:768px){
    .phoneicon{
        width: 50px;
    }
}

/* End Request Quote */

/* Start Furniture Services */
.furicons img{
     width: 70px;
}

.furicons  div:nth-of-type(even){
    background-color: #f1f1f1;
}
/* End Furniture Services */

/* Start Contact Section */
.contacts{
    background-image: linear-gradient(
                       100deg,
                      rgba(0,0,0,1) 50%,
                       rgba(0,0,0,0.3),
                        transparent 50%
                      ),
                      url('../assets/img/banner/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contacts .inputs{
    background: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    color: #fff;

    transition: all 0.8s;
}

.contacts .inputs:focus{
    box-shadow: none;
    border-bottom: 2px solid var(--primary-color);
}

.submit-btns{
    background-color: var(--primary-color);
    color: #fff;
    border: none;

    transition: all 0.3s;
}

.submit-btns:hover{
    background-color: var(--secondary-color);
    color: #fff;
}

.labels{
    color: #e2e2e2;
    display: block;
    margin-top: -60px;
    margin-left: 10px;

    transition: all 0.5s;
}

.inputs:placeholder-shown + .labels{
    opacity: 0;
    transform: translateY(20px);
}
/* End Contact Section */

/* Start footer */
.footerlinks{
    color: #e2e2e2;
    text-decoration: none; 
    font-size: 15px;
    transition: all 0.3s;
}

.footerlinks:hover{
    color: orange;
    border-bottom: 1px solid orange;
    letter-spacing: 1px;
}
/* End Footer */

